################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIRestNetCore3/.vs/APIRestNetCore3/v16/Server/sqlite3
debug
bin